body{
    background: rgb(165,232,205);
background: linear-gradient(90deg, rgba(165,232,205,1) 30%, rgba(103,222,143,1) 57%, rgba(52,182,106,1) 94%);
margin-top: 280px;
font-size: 20px;
line-height: 30px;
text-align:center ;
justify-content: center;
}
p{
    text-decoration: underline;
    font-size: 23px;
    font-weight: 600;
    text-transform: uppercase;
}
