

     body
    {
        overflow: hidden;
        color: azure;
        background-color: rgba(178, 241, 246, 0.945);
        /* background-image:; */

    } 
    section
    {
        /* overscroll-behavior: contain; */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

    }
    section .logbox
    {
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(0, 31, 132);
        text-shadow: 0px 6px 15px rgb(89, 75, 148);
        height:420px;
        width: 280px;
        background-color: transparent;
        /* filter: blur(px); */
        backdrop-filter: blur(14px);
        border-radius: 15px;
        box-shadow: 0px 10px  80px rgba(136, 131, 131, 0.401);
    }
    section header
    {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-family: Segoe UI Variable Text Semibold;
        font-size: 40px;
    }
    .inputf p .na 
    {
        font-family:Segoe UI Variable Text Semibold;
        padding-left: 10px;
        margin: 25px;
        /* text-shadow: ; */
    }
    .ball
    {
        position: absolute;
        top: 60%;
        left: 41%;
        height: 100px;
        width: 100px;
        /* background-color: aqua; */
        background-image: linear-gradient(45deg,aqua 10%,white ,blue );
        border-radius: 50%;
    }
    section .logbox:hover
    {
        transition: 0.5s;
        height: 450px;
        width: 300px;
    }
    .ball2
    {
        position: absolute;
        top: 30%;
        left: 50%;
        height: 100px;
        width: 100px;
        /* background-color: aqua; */
        background-image: linear-gradient(-45deg,hotpink 30% ,yellow ,red );
        border-radius: 50%;
    }
    .ip 
    {
        background: none;
        line-height:1 ;
        height: 0%;
        width: 210px;
        border: none;
        border-bottom: 1px solid red ;

        font-style: 28px;
        font-family:Segoe UI Variable Text Semibold ;
        margin: 5px 15px;
        padding: 5px;
        outline: none;
        color: rgb(26, 32, 38);
        /* focus{
            outline: none;
        } */
    }
    .btn
    {
        display: flex;
        position: absolute;
        left: 50%;
        transform: translate(-50%,-50%);
        margin-top: 30px;
    }
    .logbtn
    {
        height: 40px;
        width: 90px;
        border-radius: 20px;
        border:1px solid green;
        background-image: linear-gradient(lightblue,rgb(0, 255, 30));
        margin: 5px;
        font-style: normal;
        /* font-style: bold; */
        cursor: pointer;
    }
    .logbtn:hover
    {
        transition: 0.2s;
        color: azure;
        background-image: linear-gradient(lightblue,rgb(0, 106, 255));

    }
    a
    {
        color: inherit;  /* Inherit color from parent */
    text-decoration: none; /* Removes underline */
    cursor: pointer;
    }

    .profil
    {
        position: absolute;
        top: 160%;
        width:100% ;
        height:100vh ;
        background-color: rgb(30, 24, 24);
        color: black;
    }
.Lg
{
    margin: 15px;
    height: 40px;
    width: 110px;
    border-radius: 20px;
    color: azure;
    font-weight: 500;
    box-shadow: 0px 0px 20px rgb(50, 205, 109);
    background-image: linear-gradient(rgb(136, 158, 165),gray,rgb(42, 41, 41));
}
.Lg:hover
{
    cursor: pointer;
    transition: 0.5s;
    color: black;
    box-shadow: 0px 0px 20px rgb(50, 192, 205);
    background-image: linear-gradient(rgb(125, 233, 210),rgb(221, 225, 145),rgb(246, 127, 149));
}

/* No LOnger use----------------- */
    /* .picD .pd
    {
        margin: 15px;
        height: 250px;
        width: 290px;
        /* border: 10px; 
        border-radius: 20px;
    } */
    /* .profil h3
    {
        margin: 15px;
        /* position: absolute;
        left: 14%; */
        /* height: 250px; 
        color: aliceblue;
        width: 290px;
        background: #222;
        display: flex;
        justify-content: center;
        font-family:Segoe UI Variable Text Semibold ;
        font-size:  28px;
    } */

    /* .logpg
    {
        position: absolute;
        top: 80%;
        margin-left: 15px;


    } */
/* 
.info
{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-10%);
    display: flex;
    /* justify-content: center;
    align-items: center; 
}

.c
{
    color: aliceblue;
    height: 550px;
    width: 400px;
    margin-left: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.c span
{
    font-size: 100px;
    position: relative;
    top: -10%;
    left: -10%;
}

.picball
{
    height: 250px;
    width: 250px;
    margin: 20px;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%,);
    background-image:url("cd.jpg");
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: end;
}

.picball:hover
{
    opacity: 1;
    transform: translateY(-45px);
    transition: 0.5s;
}
.picball p
{
    position: absolute;
    bottom: -60%;
    width: 110%;
} */
/* NO Longer use.------------------- */
/* </style> */